<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.noonoo.prjtbackend.member.mapper.MemberMapper">

    <select id="findMembers" parameterType="com.noonoo.prjtbackend.member.bean.MemberSearchCondition" resultType="com.noonoo.prjtbackend.member.dto.MemberDto">
        SELECT
            member_id,
            login_id,
            member_name,
            email,
            role_code
        FROM admin_member
        WHERE 1 = 1
        <if test="loginId != null and loginId != ''">
            AND login_id LIKE CONCAT('%', #{loginId}, '%')
        </if>
        <if test="memberName != null and memberName != ''">
            AND member_name LIKE CONCAT('%', #{memberName}, '%')
        </if>
        <if test="roleCode != null and roleCode != ''">
            AND role_code = #{roleCode}
        </if>
        ORDER BY member_id DESC
    </select>

    <select id="findMemberById" parameterType="long" resultType="com.noonoo.prjtbackend.member.dto.MemberDto">
        SELECT
            member_id,
            login_id,
            member_name,
            email,
            role_code
        FROM admin_member
        WHERE member_id = #{memberId}
    </select>
</mapper>
