<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.noonoo.prjtbackend.member.mapper.MemberRoleMapper">

    <select id="findRoleCodesByMemberSeq" resultType="string">
        SELECT MR.ROLE_CODE
        FROM member_role MR
        WHERE MR.MEMBER_SEQ = #{memberSeq}
        ORDER BY MR.ROLE_CODE ASC
    </select>

    <insert id="insertMemberRole">
        INSERT INTO member_role (MEMBER_SEQ, ROLE_CODE, CRT_DT, CRT_ID, CRT_IP)
        VALUES (#{memberSeq}, #{roleCode}, NOW(), #{crtId}, #{crtIp})
    </insert>

    <delete id="deleteByMemberSeq">
        DELETE FROM member_role WHERE MEMBER_SEQ = #{memberSeq}
    </delete>

    <delete id="deleteByMemberSeqAndRoleCode">
        DELETE FROM member_role
        WHERE MEMBER_SEQ = #{memberSeq}
          AND ROLE_CODE = #{roleCode}
    </delete>

    <select id="countByMemberSeqAndRoleCode" resultType="long">
        SELECT COUNT(*)
        FROM member_role
        WHERE MEMBER_SEQ = #{memberSeq}
          AND ROLE_CODE = #{roleCode}
    </select>

</mapper>
