<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.noonoo.prjtbackend.role.mapper.RoleMapper">

    <select id="findAllActiveRoles" resultType="com.noonoo.prjtbackend.role.dto.RoleDto">
        /* RoleMapper.findAllActiveRoles */
        SELECT
            ROLE_ID   AS roleId
             , ROLE_NAME AS roleName
             , ROLE_CODE AS roleCode
             , USE_YN    AS useYn
        FROM ROLE
        WHERE USE_YN = 'Y'
        ORDER BY ROLE_ID ASC
    </select>

    <sql id="roleWhere">
        WHERE 1 = 1
        <if test="roleId != null">
            AND R.ROLE_ID = #{roleId}
        </if>
        <if test="roleCode != null and roleCode != ''">
            AND R.ROLE_CODE LIKE CONCAT('%', #{roleCode}, '%')
        </if>
        <if test="roleName != null and roleName != ''">
            AND R.ROLE_NAME LIKE CONCAT('%', #{roleName}, '%')
        </if>
        <if test="useYn != null and useYn != ''">
            AND R.USE_YN = #{useYn}
        </if>
    </sql>

    <select id="selectListCnt" parameterType="com.noonoo.prjtbackend.role.dto.RoleSearchCondition" resultType="long">
        SELECT COUNT(*)
        FROM ROLE R
        <include refid="roleWhere"/>
    </select>

    <select id="selectList" parameterType="com.noonoo.prjtbackend.role.dto.RoleSearchCondition"
            resultType="com.noonoo.prjtbackend.role.dto.RoleDto">
        SELECT
            R.ROLE_ID   AS roleId
             , R.ROLE_CODE AS roleCode
             , R.ROLE_NAME AS roleName
             , R.USE_YN    AS useYn
        FROM ROLE R
        <include refid="roleWhere"/>
        ORDER BY
        <choose>
            <when test="sortBy == 'roleCode'">R.ROLE_CODE</when>
            <when test="sortBy == 'roleName'">R.ROLE_NAME</when>
            <when test="sortBy == 'useYn'">R.USE_YN</when>
            <otherwise>R.ROLE_ID</otherwise>
        </choose>
        <choose>
            <when test="sortDir == 'asc' or sortDir == 'ASC'">ASC</when>
            <otherwise>DESC</otherwise>
        </choose>
        LIMIT #{safeSize} OFFSET #{offset}
    </select>

    <select id="selectDetail" parameterType="com.noonoo.prjtbackend.role.dto.RoleSearchCondition"
            resultType="com.noonoo.prjtbackend.role.dto.RoleDto">
        SELECT
            R.ROLE_ID   AS roleId
             , R.ROLE_CODE AS roleCode
             , R.ROLE_NAME AS roleName
             , R.USE_YN    AS useYn
        FROM ROLE R
        WHERE R.ROLE_ID = #{roleId}
    </select>

    <select id="countByRoleCode" resultType="long">
        SELECT COUNT(*)
        FROM ROLE R
        WHERE R.ROLE_CODE = #{roleCode}
        <if test="excludeRoleId != null">
            AND R.ROLE_ID != #{excludeRoleId}
        </if>
    </select>

    <insert id="insertData" parameterType="com.noonoo.prjtbackend.role.dto.RoleSaveRequest"
            useGeneratedKeys="true" keyProperty="roleId" keyColumn="ROLE_ID">
        INSERT INTO ROLE (ROLE_CODE, ROLE_NAME, USE_YN, CRT_DT, UPD_DT)
        VALUES (#{roleCode}, #{roleName}, #{useYn}, NOW(), NOW())
    </insert>

    <update id="updateData" parameterType="com.noonoo.prjtbackend.role.dto.RoleSaveRequest">
        UPDATE ROLE
        SET ROLE_CODE = #{roleCode}
          , ROLE_NAME = #{roleName}
          , USE_YN    = #{useYn}
          , UPD_DT    = NOW()
        WHERE ROLE_ID = #{roleId}
    </update>

    <update id="deleteData" parameterType="com.noonoo.prjtbackend.role.dto.RoleSaveRequest">
        UPDATE ROLE
        SET USE_YN = 'N'
          , UPD_DT = NOW()
        WHERE ROLE_ID = #{roleId}
    </update>

</mapper>