<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.noonoo.prjtbackend.codeGroup.mapper.CodeDetailMapper">

    <resultMap id="codeDetailResultMap" type="com.noonoo.prjtbackend.codeGroup.dto.CodeDetailDto">
        <id property="codeDetailSeq" column="codeDetailSeq"/>
        <result property="codeGroupSeq" column="codeGroupSeq"/>
        <result property="parentCodeDetailSeq" column="parentCodeDetailSeq"/>
        <result property="code" column="code"/>
        <result property="codeName" column="codeName"/>
        <result property="codeValue" column="codeValue"/>
        <result property="codeDesc" column="codeDesc"/>
        <result property="levelNo" column="levelNo"/>
        <result property="sortOrder" column="sortOrder"/>
        <result property="useYn" column="useYn"/>
        <result property="createDt" column="createDt"/>
        <result property="modifyDt" column="modifyDt"/>
    </resultMap>

    <sql id="baseColumns">
        CD.CODE_DETAIL_SEQ     AS codeDetailSeq,
        CD.CODE_GROUP_SEQ      AS codeGroupSeq,
        CD.PARENT_CODE_DETAIL_SEQ AS parentCodeDetailSeq,
        CD.CODE                AS code,
        CD.CODE_NAME           AS codeName,
        CD.CODE_VALUE          AS codeValue,
        CD.CODE_DESC           AS codeDesc,
        CD.LEVEL_NO            AS levelNo,
        CD.SORT_ORDER          AS sortOrder,
        CD.USE_YN              AS useYn,
        DATE_FORMAT(CD.CREATE_DT, '%Y-%m-%d %H:%i:%s') AS createDt,
        DATE_FORMAT(CD.MODIFY_DT, '%Y-%m-%d %H:%i:%s') AS modifyDt
    </sql>

    <select id="findMiddleList" resultMap="codeDetailResultMap">
        SELECT
        <include refid="baseColumns"/>
        FROM CODE_DETAIL CD
        WHERE CD.CODE_GROUP_SEQ = #{codeGroupSeq}
        AND CD.PARENT_CODE_DETAIL_SEQ IS NULL
        AND CD.LEVEL_NO = 2
        ORDER BY CD.SORT_ORDER ASC, CD.CODE_DETAIL_SEQ ASC
    </select>

    <select id="findSmallList" resultMap="codeDetailResultMap">
        SELECT
        <include refid="baseColumns"/>
        FROM CODE_DETAIL CD
        WHERE CD.PARENT_CODE_DETAIL_SEQ = #{parentCodeDetailSeq}
        AND CD.LEVEL_NO = 3
        ORDER BY CD.SORT_ORDER ASC, CD.CODE_DETAIL_SEQ ASC
    </select>

    <select id="findDetail" resultMap="codeDetailResultMap">
        SELECT
        <include refid="baseColumns"/>
        FROM CODE_DETAIL CD
        WHERE CD.CODE_DETAIL_SEQ = #{codeDetailSeq}
    </select>

    <insert id="insertData" parameterType="com.noonoo.prjtbackend.codeGroup.dto.CodeDetailSaveRequest">
        INSERT INTO CODE_DETAIL (
            CODE_GROUP_SEQ,
            PARENT_CODE_DETAIL_SEQ,
            CODE,
            CODE_NAME,
            CODE_VALUE,
            CODE_DESC,
            LEVEL_NO,
            SORT_ORDER,
            USE_YN,
            CREATE_DT,
            CREATE_ID,
            CREATE_IP,
            MODIFY_DT,
            MODIFY_ID,
            MODIFY_IP
        ) VALUES (
                     #{codeGroupSeq},
                     #{parentCodeDetailSeq},
                     #{code},
                     #{codeName},
                     #{codeValue},
                     #{codeDesc},
                     #{levelNo},
                     #{sortOrder},
                     #{useYn},
                     NOW(),
                     #{createId},
                     #{createIp},
                     NOW(),
                     #{modifyId},
                     #{modifyIp}
                 )
    </insert>

    <update id="updateData" parameterType="com.noonoo.prjtbackend.codeGroup.dto.CodeDetailSaveRequest">
        UPDATE CODE_DETAIL
        SET
            CODE = #{code},
            CODE_NAME = #{codeName},
            CODE_VALUE = #{codeValue},
            CODE_DESC = #{codeDesc},
            SORT_ORDER = #{sortOrder},
            USE_YN = #{useYn},
            MODIFY_DT = NOW(),
            MODIFY_ID = #{modifyId},
            MODIFY_IP = #{modifyIp}
        WHERE CODE_DETAIL_SEQ = #{codeDetailSeq}
    </update>

    <update id="deleteData">
        DELETE FROM CODE_DETAIL
        WHERE CODE_DETAIL_SEQ = #{codeDetailSeq}
    </update>

</mapper>